[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
tzlocal = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
